/*  */
*,
::after,
::before {
  transition: color 300ms linear, background 300ms linear, border 300ms linear,
    shadow 300ms linear, stroke 300ms linear, fill 300ms linear,
    opacity 300ms linear, transform 300ms linear;
}
html,
body {
  background: white !important;
}
.theme-custom {
  position: fixed;
  top: 0;
  left: 50%;
  height: 100vh;
  transform: translateX(-50%);
  opacity: 0;
  width: 0;
  transition: all 300ms linear !important;
}
.theme-custom.theme-dark {
  background-color: black;
}
body.chakra-ui-dark .theme-dark {
  width: 100vw;
  opacity: 1;
}
